---
import { ViewTransitions } from "astro:transitions";
import "../styles/blog.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <a
      class="cursor-pointer text-indigo-400 text-xl hover:text-indigo-200 transition-all ease-in"
      onclick="window.history.back()"
      id="btn-back">Regresar</a
    >
    <main class="mb-10 max-w-5xl m-auto px-2 py-px">
      <slot />
    </main>
  </body>
</html>
